body{
	font-size: 16px;
	color: #fff;
	background-color: #363636;
	font-family: 'Oxygen', sans-serif;
	height: auto;
	
}

/** Header ***/
#header-nav{
	background-color: #FFB6C1 ;
	border-radius: 0;
	border: 0;
}


#logo-img {
	background:url('../ganesh.jpg') no-repeat;
	width: 150px;
	height: 150px
	margin:10px 15px 10px 0;
}

.navbar-band {
	padding-top: 25px;
}
.navbar-band h1 {/*Restaurant name*/
    font-family: 'Detection',serif;
    color: #557c3e;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.75;
}
.navbar-band a:hover, .navbr-brand a:focus {
	text-decoration: none;
}
.navbar-band p { /* Kosher cert */
    color: #61122f;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-band p span {/*star-K */
	vertical-align: middle;
}

#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: #951C49;
	text-align: center;
}
#nav-list a:hover {
	background: #00acee;
}
#nav-list a span {
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
 	border: 1px solid #61122f;
 }
.navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -30px;
 }
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #7eb444;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: right;
    height: 2px;
    background-color: #00acee;
    margin-bottom: 5px;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.navbar-toggle:focus {
	outline: 0;
}
.navbar-toggle.icon-bar {
	display: black;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
@media (min-width: 768px) {
	.navber-toggle {
		display: none;
	}
}
.navbar-nav{
	margin: 7.5px -15px;
}

/* Style all font awesome icons */
.navfacetwi {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color:white;
  
}

 /* END HEADER */

 /* Footer */
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #61122f;
	border-top: 0;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
#hours, #address {
	line-height: 2;
}
#hours > span, #Address > span {
	font-size: 1.3em;
}
#Address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
#testimonials {
	font-style: italic;
}
#testimonials p:nth-child(2) {
	margin-top: 25px;
}
/** end Footer**/

 /* Home Page */
.container .jumbotron {
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
	font-style: normal;
}
.FAKE {
	font-weight: bold;
	font-size: 30pt;
	line-height: 1.5;
}
.jumbotron {
	color: black;
}
 /* End Home Page */

/********Super extra small devices only:- (e.g. iPhone 4);******/
@media (max-width: 517px) {
	/***Header **/
	.navbar-brand h1 {/**Restruant name **/
		padding-top: 5px;
		font-size: 6vw;
	}
	/*** Home Page ***/
	#menu-tile, #Specials-tile {
		width:280px;
		margin:0 auto 15px;
	}

	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}

/*.................ourteam............*/
.rounded img{
	border-radius: 50%;
}

.ourteam{
	height: 600px;
	padding: 100px 0px 60px;
	width: 100%;
}

.ourteam h2{
	font-size: 50px;
	font-weight: bold;
}

.teamsetting{
	margin-top: 50px !important;
}